# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = ZhiHu.settings

[deploy]
url = http://120.79.85.100:6800/addversion.json
project = ZhiHuspider
